/* 
                Sommaire

    
        AccountMenu.js / ArtisanAccountMenu.js
    1:= menu
        
        AccountOrder.js / ArtisanAccountOrder.js
    2:= commandes

        AccountPassword.js / ArtisanAccountMdp.js
    3:= updateMdp

        AccountDetails.js / ArtisanAccountDetails.js
    4:= details

        AccountAdress.js / ArtisanAccountAdress.js
    5:= adress

        ArtisanAccountJob
    6:= artisanJobs

    7:= responsive version desktop

*/


.account{
    margin: 6rem 0;
}


/* ----------- 1:= menu ------------ */
.menu{
    width: 25%;
    padding: 3rem 0 0 12rem;
}

.menu a{
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    margin-right: 20%;
}

.menu a.selected{
    background-color: var(--pink_background_2);
    border-radius: .5rem;
}

.menu svg{
    margin-right: 1rem;
}







/* ----------- 2:= commande ------------ */
.commandes, section.updateMdp, section.details, section.adress{
    width: 65%;
    padding: 0 12rem 10rem 0;
    border-left: 1px solid #BDDEB4;
    font-size: 1.3rem;
}

.commandes article{
    width: 45%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
}

.commandes p{
    margin: 2rem 0;
}

.commandes button{
    width: 100%;
}

.commandes button svg{
    margin-left: 1rem;
}






/* ----------- 3:= updateMdp / 4:= details ------------ */
form.updateMdp, form.details, form.adress{
    width: 50%;
    margin-left: 10%;
}

form.details p{
    color: #E4A2BE;
    background-color: #FFDBE8;
    font-family: 'montserratbold', sans-serif;
    border-radius: 50%;
    width: max-content;
    padding: 1.5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}







/* ----------- 5:= adress ------------ */
form.adress{
    width: 60%;
}







/* ----------- 5:= artisanJobs ------------ */















/* ----------- 7:= Desktop ------------ */
@media screen and (max-width: 1400px){
    .menu{
        padding-left: 8rem;
    }

    .menu a{
        font-size: 1.1rem;
    }

    .commandes, section.updateMdp, section.details, section.adress{
        padding-right: 8rem;
    }

    h2{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1300px){
    .menu{
        padding-left: 6rem;
    }

    .menu a{
        font-size: 1rem;
    }

    .commandes, section.updateMdp, section.details, section.adress{
        padding-right: 6rem;
        font-size: 1.1rem;
    }

    h2{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1200px){
    .menu{
        width: 40%;
    }

    .commandes, section.updateMdp, section.details, section.adress{
        width: 60%;
    }

    .commandes article, form.updateMdp, form.details{
        width: 60%;
    }

    form.adress{
        width: 70%;
    }

    h2{
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 1080px){
    .menu a{
        font-size: .8rem;
    }

    .menu svg{
        width: 24 !important;
        height: 25 !important;
    }

    .commandes article, form.updateMdp, form.details, form.adress{
        width: 80%;
    }

    form.adress div.double{
        flex-direction: column;
    }
}