/* 
                Sommaire

    
        AccountMenu
    1:= menu
        
        Commades
    2:= commandes

        PasswordUpdate
    3:= updateMdp

    3:= responsive version desktop
    4:= version mobile

*/


.account{
    margin: 6rem 0;
}


/* ----------- 1:= menu ------------ */
.menu{
    width: 35%;
    padding: 3rem 0 0 12rem;
}

.menu a{
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 1rem;
    margin-right: 20%;
}

.menu a.selected{
    background-color: var(--gris_background);
    border-radius: .5rem;
}

.menu svg{
    margin-right: 1rem;
}







/* ----------- 2:= commande ------------ */
.commandes, section.updateMdp{
    width: 65%;
    padding: 0 12rem 20rem 0;
    border-left: 1px solid var(--input_border);
    font-size: 1.3rem;
}

.commandes article{
    width: 45%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
}

.commandes p{
    margin: 2rem 0;
}

.commandes button{
    width: 100%;
}

.commandes button svg{
    margin-left: 1rem;
}






/* ----------- 2:= updateMdp ------------ */
form.updateMdp{
    width: 50%;
    margin-left: 10%;
}