/* 
                Sommaire

        Concept
    1:= presentation
    2:= description

        Service
    2:= service

        Fonctionnement
    3:= fonctionnement

        UserArtisan
    4:= userArtisan

        Avis
    5:= avis

        LandingPage
    6:= section5
    7:= Section7
    8:= Section8

        Newsletter
    9:= newsletter

        Etape
    10:= etape

*/



/* ----------- 1:= presentation ------------ */
.concept .presentation, .concept .presentation > *{
    z-index: 99;
}

.concept .presentation article,
.description div{
    width: 35%;
    margin: auto;
    padding: 5rem 0 7rem;
}

.concept .presentation h2,
.description h3{
    font-size: 3.3rem;
    margin-bottom: 2rem;
}

.concept .presentation p,
.description p{
    font-size: 1.2rem;
    text-align: justify;
}










/* ----------- 2:= description ------------ */
.description{
    padding: 7rem 0;
}

.description figure{
    padding: 0 1.5rem;
    margin-top: 4rem;
}

.description p{
    margin-top: 3rem;
}

.description figure img{
    width: 25%;
    height: 2rem;
}

.description figure img:nth-child(2){
    width: 11%;
    height: 3rem;
}

.description hr{
    border: 1px solid #DFE1E7;
    margin: 7rem auto;
}

        /* picto */

.description .boutton{
    right: 0;
    margin-top: -14rem;
    z-index: 1;
}

.description .deco3{
    margin-top: -10rem;
    left: 0;
}

.description .ceintre, .description .deco2{
    left: 0;
}

.description .pelote{
    right: 6%;
}

.description .ciseaux, .description .deco1{
    right: 0;
}

.description .aiguilles{
    left: 10%;
}

.description .deco1{
    margin-top: -7rem;
}

.description .deco2{
    margin-top: -13rem;
}

