/* 
                Sommaire

        Concept
    1:= presentation
    2:= description

        Aide
    3:= section

        Repare
    4:= repare

        Rejoindre
    5:= presentation
    6:= description





    10:= version desktop

*/



/* ----------- 1:= presentation ------------ */
.concept .presentation, .concept .presentation > *{
    z-index: 99;
}

.concept .presentation article,
.description div{
    width: 35%;
    margin: auto;
    padding: 5rem 0 7rem;
}

.concept .presentation h2,
.description h3{
    font-size: 3.3rem;
    margin-bottom: 2rem;
}

.concept .presentation p,
.description p{
    font-size: 1.2rem;
    text-align: justify;
}










/* ----------- 2:= description ------------ */
.description div{
    padding: 7rem 0;
}

.description figure{
    padding: 0 1.5rem;
    margin-top: 4rem;
}

.description p{
    margin-top: 3rem;
}

.description figure img{
    width: 25%;
    height: 2rem;
}

.description figure img:nth-child(2){
    width: 11%;
    height: 3rem;
}

.description hr{
    border: 1px solid #DFE1E7;
    margin: 7rem auto;
}

.description{
    background-image: 
        url('../assets/pictures/acceuil/deco3.png'),
        url('../assets/pictures/acceuil/boutton.png'),
        url('../assets/pictures/acceuil/ceintre.png'),
        url('../assets/pictures/acceuil/pelote.png'),
        url('../assets/pictures/acceuil/ciseaux.png'),
        url('../assets/pictures/acceuil/aiguilles.png'),
        url('../assets/pictures/acceuil/deco1.png'),
        url('../assets/pictures/acceuil/deco2.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 
        0 0,
        100% -3%,
        0 33%,
        93% 23%,
        100% 57%,
        11% 71%,
        100% 100%,
        0 100%;
}



/* ----------- 3:= section ------------ */
.aide .section{
    padding: 10rem;
}
.aide .section h2{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

.aide .section h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.aide .accordion{
    background-color: transparent;
    width: 50%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}








/* ----------- 4:= repare ------------ */
.repare h2.etape{
    font-size: 2rem;
}












/* ----------- 5:= presentation ------------ */
.rejoindre .presentation{
    background-image: url('../assets/pictures/BackgroundRejoindre.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.rejoindre .presentation p{
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-weight: bold;
    text-align: center;
}

.rejoindre .presentation a, .rejoindre .description a{
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}












/* ----------- 6:= description ------------ */
.rejoindre .description{
    padding-bottom: 0;
}

.rejoindre .description h3:not(.first){
    margin-top: 10rem;
}

.rejoindre .description li{
    margin: 2rem 0;
    font-size: 1.1rem;
}

.rejoindre .description li span{
    font-weight: bolder;
    font-family: 'montserratbold', sans-serif;
}

.rejoindre .description p.rejoindre{
    margin-bottom: 4rem;
}

.rejoindre .description a{
    margin-left: 35%;
}

.rejoindre .description{
    background-image: 
        url('../assets/pictures/acceuil/deco3.png'),
        url('../assets/pictures/acceuil/boutton.png'),
        url('../assets/pictures/acceuil/ceintre.png'),
        url('../assets/pictures/acceuil/pelote.png'),
        url('../assets/pictures/acceuil/ciseaux.png'),
        url('../assets/pictures/acceuil/aiguilles.png'),
        url('../assets/pictures/acceuil/deco1.png'),
        url('../assets/pictures/acceuil/deco2.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 
        0 8%,
        100% -2%,
        0 32%,
        93% 26%,
        100% 55%,
        11% 65%,
        100% 100%,
        0 100%;
}















/* ----------- 10:= Desktop ------------ */
@media screen and (max-width: 1180px) {
    .concept .presentation article,
    .description div{
        width: 45%;
    }

    .concept .picto{
        width: 30% !important;
    }
    .aide .accordion{
        width: 60%;
        font-size: 1.1rem;
    }

    .aide .section h2{
        font-size: 2.2rem;
    }

    .aide .section h3{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 998px){
    .aide .section{
        padding: 7rem 5rem;
    }

    .aide .accordion{
        width: 70%;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 920px){
    .concept .presentation article,
    .description div{
        width: 55%;
    }
}