/* 
                Sommaire

        
        artisan_signup
    1:= details
    2:= metier
    2:= artisan_signin

*/

/* ----------- 1:= artisan_signup ------------ */
.artisan_signup form.details{
    width: 50%;
    margin: auto;
}

.artisan_signup form.details section{
    width: 100%;
}

.artisan_signup form.details div{
    width: 45%;
}

.artisan_signup .details p, .artisan_signup .details button{
    width: 40%;
    margin: 2rem auto;
}

.artisan_signup .details button{
    margin: 0;
    margin-left: 30%;
}









/* ----------- 2:= metier ------------ */











/* ----------- 3:= artisan_signup ------------ */
.artisan_signin form{
    width: 25%;
    margin: auto;
    padding: 6rem 0;
}

.artisan_signin p{
    margin: 2rem 0;
}

.artisan_signin button{
    border-radius: .5rem;
}

.artisan_signin input + a{
    margin-bottom: 1rem;
}