/* 
                Sommaire

        Section1Landing
    1:= section1Landing

        Service
    2:= service

        Fonctionnement
    3:= fonctionnement

        UserArtisan
    4:= userArtisan

        Avis
    5:= avis

        LandingPage
    6:= section5
    7:= Section7
    8:= Section8

        Newsletter
    9:= newsletter

        Etape
    10:= etape

        Home
    11:= home



*/


.landing h2, .home h2{
    font-size: 3.3rem;
}

img.picto{
    position: absolute;
}


/* ----------- 1:= section1Landing ------------ */
.section1Landing article{
    width: 60%;
    padding: 5rem 10rem 0 10rem;
}

.section1Landing h1{
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-size: 3rem;
}

.section1Landing img{
    width: 40%;
    z-index: 3;
}

.section1Landing article{
    padding-bottom: 7rem;
}

.section1Landing article > p + p{
    margin-top: 1rem;
    text-align: start;
}

.section1Landing button{
    background-color: var(--white);
    color: var(--black);
    border: none;
    margin: 2rem 2rem 0 0;
    width: 30%;
}

.section1Landing button img{
    width: 20%;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.section1Landing button p:first-child{
    font-size: .9rem;
    width: max-content;
}

.section1Landing .picto{
    width: 22%;
}

.section1Landing #button{
    width: inherit;
    top: 37.8rem;
    left: 55%;
}

.section1Landing #deco1{
    top: 36.5rem;
}

.section1Landing #deco2{
    left: 43%;
}









/* ----------- 2:= service ------------ */
.service h2, .service h2 + div{
    margin-top: 2rem;
}

.service h2{
    width: 30%;
    padding: 0 0 0 8rem;
    margin-top: 5rem;
}

.service h2 + div{
    width: 70%;
}

.service .card{
    width: 30%;
    margin: 5rem 5% 0 0;
}

.service h3{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.service a,
.fonctionnement a,
.landing .section7 a{
    width: 30%;
    margin: 2.5rem 5% 5rem 0;
}

.service a img,
.fonctionnement a img,
.landing .section7 a img{
    height: 8px;
    margin-left: .5rem;
}

.service #ciseaux, .service #aiguilles, .service #pince{
    margin-top: 16.8rem;
}

.service #pince{
    right: 0;
}

.service #aiguilles{
    left: 45%;
    margin-top: 18.6rem;
}

.service #pelote{
    left: 25%;
}

.service #bobine{
    right: 25%;
}











/* ----------- 3:= section1Landing ------------ */

.fonctionnement{
    margin: 6rem 0 ;
}

.fonctionnement article{
    width: 40%;
    padding: 5rem 0 0 10rem;
}

.fonctionnement h2,
.userArtisan h2,
.avis h2,
.landing .section7 h2{
    margin: 1rem 0 2.5rem;
}

.fonctionnement p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.fonctionnement span, .fonctionnement p img,
.userArtisan span, .userArtisan p,
.avis span,
.landing .section7 span{
    color: var(--gris_liens);
    fill: var(--gris_liens);
    font-size: 1.6rem;
    margin-right: .5rem;
}

.fonctionnement .twoImages{
    width: 15%;
    z-index: 10;
}

.fonctionnement .twoImages img:first-child{
    margin-bottom: 2.5rem;
}

.fonctionnement figure:last-child img{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 21px 24px 45px 13px rgba(196,196,196,0.83); 
    box-shadow: 0px 10px 13px -7px #000000, 21px 24px 45px 13px rgba(196,196,196,0.83);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-top: 3rem;
}

.fonctionnement #image4{
    right: 14%;
    margin-top: -51rem;
}

.fonctionnement #ceintre{
    right: 0;
    margin-top: -46rem;
}

.fonctionnement #machine{
    left: 30%;
    margin-top: -40rem;
}

.fonctionnement #picto_Section4{
    left: 49%;
    margin-top: 48rem;
    z-index: 0;
}










/* ----------- 4:= userArtisan ------------ */
.userArtisan{
    text-align: center;
    padding: 3rem 17rem 8rem;
}

.userArtisan figure{
    width: 45%;
    margin-top: 3rem;
}

.userArtisan p{
    position: absolute;
    text-align: start;
    color: var(--white);
    margin-top: -22rem;
    font-size: 3rem;
    margin-left: 2rem;
    font-family: 'montserratbold', sans-serif;
}

.userArtisan #deco3{
    left: 0;
    width: 25%;
    margin-top: -8rem;
}

.userArtisan #deco4{
    right: 0;
    width: 25%;
    margin-top: 40rem;
}













/* ----------- 5:= avis ------------ */
.avis{
    text-align: center;
}

.avis div.button{
    background-color: var(--green_text);
    padding: 1rem;
    border-radius: 1.5rem;
    width: max-content;
    margin: auto;
}

.avis div.button button{
    background-color: var(--green_text);
    border: none;
    color: var(--black);
    font-weight: bolder;
}

.avis div.button button.selected{
    background-color: var(--white);
    border-radius: 1rem;
}

.avis div.product{
    margin-top: 6rem;
}

.avis article{
    width: 24%;
    margin-left: 1.33rem;
}

.avis article:first-child{
    margin-left: 0;
}

.avis article img{
    width: 90%;
    margin-bottom: 1rem;
}

.avis article p, .avis article figure{
    padding: .5rem 5%;
    width: 90%;
    text-align: start;
}

.avis article figure{
    width: 35%;
}
















/* ----------- 6:= section 5 ------------ */
.landing .section5, .avis,
.home .section5{
    margin: 6rem 8rem 5rem;
}

.landing .section5 p{
    font-size: 2.5rem;
}

.landing .section5 p + p{
    color: var(--gris_liens);
    font-size: 1.7rem;
}









/* ----------- 7:= section 7 ------------ */
.landing .section7 article:first-child{
    width: 40%;
}

.landing .section7 article:last-child{
    width: 45%;
    padding-right: 8rem;
}

.landing .section7 article .haut{
    width: 70%;
    height: 3rem;
    border-top-right-radius: 2rem;
}

.landing .section7 article .droit{
    width: 4rem;
    margin: 30% 0 8%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.landing .section7 p{
    font-size: 1.3rem;
    margin: 1rem 0;
}










/* ----------- 8:= section 8 ------------ */
.landing .section8{
    padding: 2rem 10rem;
    margin-top: 10rem;
}

.landing .section8 figure{
    width: 30%;
}

.landing .section8 article{
    width: 60%;
}

.landing .section8 h2 + p{
   font-size: 1.3rem;
   margin: 2rem 0;
}

.landing .section8 button{
    color: var(--white);
    font-weight: bolder;
    font-size: 1.4rem;
    border: none;
    margin: 2rem 2rem 0 0;
    width: 35%;
    border-radius: 1rem;
}

.landing .section8 button img{
    width: 20%;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.landing .section8 button .apple{
    fill: var(--white);
}

.landing .section8 button p:first-child{
    font-size: .8rem;
    width: max-content;
}











/* ----------- 9:= newsletter ------------ */
.newsletter article{
    padding: 3rem 10rem;
}

.newsletter div, .newsletter form{
    width: 60%;
    margin: 0;
    padding: 0;
}

.newsletter form{
    width: 40%;
}

.newsletter h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.newsletter span{
    color: #999999;
    font-size: .9rem;
}

.newsletter input{
    width: 75%;
    margin-right: 5%;
    border: 1px solid var(--black);
}

.newsletter button{
   padding-top: 0!important;
   padding-bottom: 0!important;
}















/* ----------- 10:= etape ------------ */
.etape{
    margin: 0 10rem;
    border-radius: 1rem;
    padding: 4rem 2rem;
}

.etape h3{
    margin-bottom: 1rem;
}

.etape .container{
    margin-top: 2.5rem;
}

.etape article{
    width: 30%;
}

.etape h4{
    font-size: 1.2rem;
    margin-bottom: .7rem;
}

.etape p{
    font-size: .8rem;
}

.etape img{
    width: 72px;
    height: 73px;
    margin: auto;
    margin-right: .7rem;
}











/* ----------- 10:= home ------------ */

.home h2.newsletter{
    text-align: center;
    font-size: 2.7rem;
    padding: 3rem 0;
}















/* ----------- 9:= Desktop ------------ */
@media screen and (max-width: 1682px) {
    .section1Landing button{
        width: 35%;
    }

    .section1Landing #button{
        left: 53%;
        top: 37.6rem;
    }

    .section1Landing h1{
        font-size: 2.7rem;
    }

    .userArtisan #deco4{
        margin-top: 35rem;
    }
}

@media screen and (max-width: 1570px) {
    .section1Landing button{
        width: 40%;
    }
    
    .section1Landing #button{
        left: 50%;
    }

    .section1Landing #deco2{
        left: 40%;
    }
    
    .fonctionnement #image4{
        margin-top: -48rem;
    }

    .userArtisan #deco3{
        margin-top: -7rem;
    }

    .landing .section8 button{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1520px){
    .section1Landing #button{
        top: 40.8rem;
        left: 49%;
    }
    
    .section1Landing #deco1{
        top: 40.5rem;
    }
}

@media screen and (max-width: 1490px) {
    .service #ciseaux, .service #pince{
        margin-top: 18rem;
    }

    .service #aiguilles{
        margin-top: 20rem;
    }

    .fonctionnement #image{
        margin-top: -45rem;
    }
}

@media screen and (max-width: 1470px) {
    header{
        padding-left: 10rem;
    }

    header section{
        width: 75%;
    }
    .section1Landing button img{
        margin-right: 1rem;
        margin-left: 0;
    }
    
    .section1Landing #button{
        top: 40.8rem;
        left: 49%;
    }
    
    .section1Landing #deco1{
        top: 40.5rem;
    }

    .fonctionnement #image4{
        margin-top: -42rem;
    }

    .fonctionnement #picto_Section4{
        margin-top: 40rem;
        left: 43%;
    }

    .fonctionnement #ceintre{
        margin-top: -36rem;
    }

    .fonctionnement span, .fonctionnement p img,
    .userArtisan span, .userArtisan p,
    .avis span,
    .landing .section7 span{
        font-size: 1.3rem;
    }

    .fonctionnement article{
        padding: 0 0 0 5rem;
    }

    .fonctionnement figure:last-child img{
        width: 90%;
        align-self: flex-end;
    }

    .landing .section8 button{
        width: 40%;
    }
}

@media screen and (max-width: 1460px){
    .section1Landing #button, .section1Landing #deco1{
        top: 42rem;
    }
}

@media screen and (max-width: 1415px){
    .userArtisan #deco4{
        margin-top: 33rem;
    }
}

@media screen and (max-width: 1345px) {
    .landing h2,
    .home h2{
        font-size: 3rem;
    }

    .section1Landing article{
        padding: 5rem 8rem 5rem 7rem;
    }

    .section1Landing #deco2{
        left: 38%;
    }

    .section1Landing #button{
        top: 40.1rem;
        left: 48%;
    }
    
    .section1Landing #deco1{
        top: 41rem;
    }

    .service h2{
        width: 25%;
        padding: 0 1rem 0 5rem;
    }

    .userArtisan{
        padding: 3rem 14rem 7rem;
    }

    .landing .section5, .avis{
        margin: 6rem 6rem 5rem;
    }

    .landing .section5 p{
        font-size: 2.3rem;
    }

    .landing .section5 p + p{
        font-size: 1.5rem;
    }

    .landing .section8{
        padding: 2rem 6rem;
        margin-top: 10rem;
    }
}


@media screen and (max-width: 1210px) {
    header{
        font-size: 1rem;
        padding-left: 8rem;
    }

    header button{
        padding: 1rem 1rem;
        font-size: .9rem;
    }

    .section1Landing article{
        padding: 5rem 4rem 5rem 6rem;
    }

    .section1Landing button{
        width: 50%;
    }

    .landing h2,
    .home h2{
        font-size: 2.3rem;
    }

    .service h2{
        width: 25%;
        padding: 0 0 0 6rem;
    }

    .service h3{
        font-size: 1.4rem;
    }

    .service a,
    .fonctionnement a,
    .landing .section7 a{
        width: 30%;
        margin: 1.5rem 5% 5rem 0;
    }

    .service #ciseaux, .service #pince{
        margin-top: 16.8rem;
    }
    
    .service #aiguilles{
        margin-top: 18.6rem;
    }

    .fonctionnement a,
    .landing .section7 a{
        width: 30%;
        margin: 1.5rem 5% 5rem 0;
    }

    .fonctionnement article{
        padding-right: 2rem;
    }

    .fonctionnement a{
        width: 50%;
    }

    .fonctionnement figure:last-child img{
        margin-top: 7rem;
    }

    .fonctionnement #image4,
    .fonctionnement #machine{
        margin-top: -35rem;
    }
    
    .fonctionnement #ceintre{
        margin-top: -30rem;
    }

    .fonctionnement #picto_Section4{
        left: 42%;
        margin-top: 34rem;
    }

    .userArtisan #deco3{
        margin-top: -6rem;
    }

    .userArtisan #deco4{
        margin-top: 28rem;
    }

    .userArtisan figure{
        margin-top: 2rem;
    }

    .landing .section8 button{
        width: 45%;
        font-size: 1.2rem;
    }

    .landing .section8 button img{
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1142px){
    .section1Landing #deco1{
        top: 42rem;
    }

    .service #pince{
        margin-top: 18.4rem;
    }

    .service #ciseaux{
        margin-top: 20.2rem;
    }
    
    .service #aiguilles{
        margin-top: 22.2rem;
    }

    .service .picto{
        width: 8%;
    }
    
    .fonctionnement #image4{
        width: 18%;
        right: 17%;
    }

    .fonctionnement .picto{
        width: 8%;
    }

    .userArtisan #deco4{
        margin-top: 26rem;
    }
}


@media screen and (max-width: 1020px) {
    header{
        padding-left: 5rem;
        padding-right: 2rem;
    }

    .section1Landing article{
        padding-top: 2rem;
    }

    .section1Landing h1{
        font-size: 2rem;
    }

    .section1Landing div{
        flex-wrap: wrap!important;
    }

    .section1Landing button:last-child{
        margin-top: 1rem;
    }

    .section1Landing #button{
        top: 36.8rem;
        left: 43.5%;
    }
    
    .section1Landing #deco1{
        top: 39rem;
    }

    .service{
        flex-wrap: wrap !important;
    }

    .service h2, .service h2 + div{
        width: 100%;
        padding: 0 0 0 6rem;
    }

    .service .card{
        margin-top: 2rem;
    }

    .service #pince{
        margin-top: 23rem;
    }

    .service #ciseaux{
        margin-top: 24.7rem;
    }
    
    .service #aiguilles{
        margin-top: 26.5rem;
    }

    .userArtisan #deco4{
        margin-top: 24rem;
    }

    .landing .section5{
        margin: 5rem;
        flex-wrap: wrap !important;
    }

    .landing .section5 h2{
        width: 100%;
        margin-bottom: 3rem;
    }

    .landing .section5 p{
        font-size: 2rem;
    }
    
    .landing .section5 p + p{
        color: var(--gris_liens);
        font-size: 1.1rem;
    }

    .landing .section8 article{
        width: 65%;
    }

    .landing .section8 button{
        width: 45%;
    }
}

@media screen and (max-width: 992px){
    .section1Landing #button{
        top: 39.4rem;
        left: 43.5%;
    }
    
    .section1Landing #deco1{
        top: 42.5rem;
    }

    .landing .section8{
        padding: 2rem 5rem;
    }

    .landing .section8 button{
        font-size: 1rem;
    }
    
    .landing .section8 button div{
        text-align: start;
    }
}

@media screen and (max-width: 920px) {
    .section1Landing button{
        width: 60%;
    }

    .fonctionnement a{
        width: 70%;
    }

    .userArtisan{
        padding: 3rem 8rem;
    }

    .landing .section7 article:first-child{
        width: 45%;
    }    

    .landing .section7 article:last-child{
        width: 50%;
        padding: 3rem 1rem 0 0;
    }

    .landing .section7 p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 880px){
    .landing .section8{
        padding: 2rem 4rem;
        margin-top: 4rem;
    }

    .landing .section8 figure{
        width: 37%;
    }

    .landing .section8 article{
        width: 56%;
    }    

    .landing .section8 div{
        flex-wrap: wrap !important;
    }

    .landing .section8 button{
        width: 55%;
    }

    .landing .section8 button:first-child{
        margin-top: 0;
    }

}

@media screen and (max-width: 868px){
    .section1Landing #button{
        top: 40.7rem;
        left: 41%;
    }
    
    .section1Landing #deco1{
        top: 44.5rem;
    }

    .service #ciseaux, .service #pince{
        margin-top: 23.2rem;
    }
    
    .service #aiguilles{
        margin-top: 25.1rem;
    }

    .userArtisan #deco4{
        margin-top: 23rem;
    }
}

@media screen and (max-width: 790px){
    header{
        padding: 2rem;
    }

    header section{
        width: 80%;
    }

    header button{
        margin-left: 1rem;
        padding: .5rem;
    }

    .section1Landing button{
        width: 70%;
    }

    .userArtisan #deco4{
        margin-top: 22rem;
    }
}