/* 
                Sommaire

        landingPage

    1:= Section1
    2:= Section2
    3:= Section3
    4:= Section4
    5:= Section5
    6:= Section6
    7:= Section7
    8:= Section8
    9:= Version Desktop
    10:= Version mobile

*/





.landing h2{
    font-size: 3.3rem;
}



/* ----------- 1:= section 1 ------------ */
.landing .section1 article{
    width: 60%;
    padding: 5rem 10rem 0 10rem;
}

.landing .section1 h1{
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-size: 3rem;
}

.landing .section1 img{
    width: 40%;
    z-index: 3;
}

.landing .section1 article > p + p{
    margin-top: 1rem;
    text-align: start;
}

.landing .section1 button{
    background-color: var(--blanc);
    color: var(--noir);
    border: none;
    margin: 2rem 2rem 0 0;
    width: 30%;
}

.landing .section1 button img{
    width: 20%;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.landing .section1 button p:first-child{
    font-size: .9rem;
    width: max-content;
}

/* #button, #deco_haut, #deco_bas{
    position: relative;
    width: 70%;
}

#button{
    width: 20%;
    left: 32%;
    top: .5%;
}

#deco_haut{
    top: -75%;
    left: 55%;
}

#deco_bas{
    left: -10rem;
    top: -10%;
} */





/* ----------- 2:= section 2 ------------ */
.landing .section2 h2, .landing .section2 h2 + div{
    margin-top: 2rem;
}

.landing .section2 h2{
    width: 30%;
    padding: 0 0 0 8rem;
    margin-top: 5rem;
}

.landing .section2 h2 + div{
    width: 70%;
}

.landing .section2 .card{
    width: 30%;
    margin: 5rem 5% 0 0;
}

.landing .section2 h3{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.landing .section2 a,
.landing .section3 a,
.landing .section7 a{
    width: 30%;
    margin: 2.5rem 5% 5rem 0;
}

.landing .section2 a img,
.landing .section3 a img,
.landing .section7 a img{
    height: 8px;
    margin-left: .5rem;
}

.landing .section2 img.picto{
    position: absolute;
}

.landing .section2 #ciseaux, .landing .section2 #aiguilles, .landing .section2 #pince{
    position: absolute;
    margin-top: 16.8rem;
}

.landing .section2 #pince{
    right: 0;
}

.landing .section2 #aiguilles{
    left: 45%;
    margin-top: 18.6rem;
}

.landing .section2 #pelote{
    left: 25%;
}

.landing .section2 #bobine{
    right: 25%;
}






/* ----------- 3:= section 3 ------------ */
.landing .section3{
    margin: 6rem 0 ;
}

.landing .section3 article{
    width: 40%;
    padding: 0 0 0 10rem;
}

.landing .section3 h2,
.landing .section4 h2,
.landing .section6 h2,
.landing .section7 h2{
    margin: 1rem 0 2.5rem;
}

.landing .section3 p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.landing .section3 span, .landing .section3 p img,
.landing .section4 span, .landing .section4 p,
.landing .section6 span,
.landing .section7 span{
    color: var(--gris_liens);
    fill: var(--gris_liens);
    font-size: 1.6rem;
    margin-right: .5rem;
}

.landing .section3 .twoImages{
    width: 15%;
}

.landing .section3 .twoImages img:first-child{
    margin-bottom: 2.5rem;
}

.landing .section3 figure div{
    background-color: var(--gris_background);
    width: 70%;
    height: 6rem;
    align-self: flex-end;
    border-top-left-radius: 2rem;
    margin-top: 1rem;
}

.landing .section3 figure:last-child img{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 21px 24px 45px 13px rgba(196,196,196,0.83); 
    box-shadow: 0px 10px 13px -7px #000000, 21px 24px 45px 13px rgba(196,196,196,0.83);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}







/* ----------- 4:= section 4 ------------ */
.landing .section4{
    text-align: center;
    padding: 3rem 17rem;
}

.landing .section4 figure{
    width: 45%;
    margin-top: 3rem;
}

.landing .section4 p{
    margin-bottom: 2rem;
}








/* ----------- 5:= section 5 ------------ */
.landing .section5, .landing .section6{
    margin: 6rem 8rem 5rem;
}

.landing .section5 p{
    font-size: 2.5rem;
}

.landing .section5 p + p{
    color: var(--gris_liens);
    font-size: 1.7rem;
}











/* ----------- 6:= section 6 ------------ */
.landing .section6{
    text-align: center;
}

.landing .section6 div.button{
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 1.5rem;
    width: max-content;
    margin: auto;
}

.landing .section6 div.button button{
    background-color: #f1f1f1;
    border: none;
    color: var(--noir);
    font-weight: bolder;
}

.landing .section6 div.button button.selected{
    background-color: var(--blanc);
    border-radius: 1rem;
}

.landing .section6 div.product{
    margin-top: 6rem;
}

.landing .section6 article{
    width: 24%;
    margin-left: 1.33rem;
}

.landing .section6 article:first-child{
    margin-left: 0;
}

.landing .section6 article img{
    width: 90%;
    margin-bottom: 1rem;
}

.landing .section6 article p, .landing .section6 article figure{
    padding: .5rem 5%;
    width: 90%;
    text-align: start;
}

.landing .section6 article figure{
    width: 35%;
}








/* ----------- 7:= section 7 ------------ */
.landing .section7 article:first-child{
    width: 40%;
}

.landing .section7 article:last-child{
    width: 45%;
    padding-right: 8rem;
}

.landing .section7 article .haut{
    width: 70%;
    height: 3rem;
    border-top-right-radius: 2rem;
}

.landing .section7 article .droit{
    width: 4rem;
    margin: 30% 0 8%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.landing .section7 p{
    font-size: 1.3rem;
    margin: 1rem 0;
}








/* ----------- 8:= section 8 ------------ */
.landing .section8{
    padding: 2rem 10rem;
    margin-top: 10rem;
}

.landing .section8 figure{
    width: 30%;
}

.landing .section8 article{
    width: 60%;
}

.landing .section8 h2 + p{
   font-size: 1.3rem;
   margin: 2rem 0;
}

.landing .section8 button{
    color: var(--blanc);
    font-weight: bolder;
    font-size: 1.4rem;
    border: none;
    margin: 2rem 2rem 0 0;
    width: 35%;
    border-radius: 1rem;
}

.landing .section8 button img{
    width: 20%;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.landing .section8 button .apple{
    fill: var(--blanc);
}

.landing .section8 button p:first-child{
    font-size: .8rem;
    width: max-content;
}






/* ----------- 9:= Desktop ------------ */
@media screen and (max-width: 1682px) {
    .landing .section1 button{
        width: 35%;
    }

    .landing .section1 h1{
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 1570px) {
    .landing .section1 button{
        width: 40%;
    }

    .landing .section8 button{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1490px) {
    .landing .section2 #ciseaux, .landing .section2 #pince{
        margin-top: 18rem;
    }

    .landing .section2 #aiguilles{
        margin-top: 20rem;
    }
}

@media screen and (max-width: 1470px) {
    header{
        padding-left: 10rem;
    }

    header section{
        width: 75%;
    }
    .landing .section1 button img{
        margin-right: 1rem;
        margin-left: 0;
    }

    .landing .section8 button{
        width: 40%;
    }
}

@media screen and (max-width: 1345px) {
    .landing h2{
        font-size: 3rem;
    }

    .landing .section1 article{
        padding: 5rem 8rem 0 7rem;
    }

    .landing .section2 h2{
        width: 25%;
        padding: 0 1rem 0 5rem;
    }

    .landing .section3 span, .landing .section3 p img,
    .landing .section4 span, .landing .section4 p,
    .landing .section6 span,
    .landing .section7 span{
        font-size: 1.3rem;
    }

    .landing .section3 article{
        padding: 0 0 0 5rem;
    }

    .landing .section3 figure div{
        height: 5rem;
    }

    .landing .section3 figure:last-child img{
        width: 90%;
        align-self: flex-end;
    }

    .landing .section4{
        padding: 3rem 14rem;
    }

    .landing .section5, .landing .section6{
        margin: 6rem 6rem 5rem;
    }

    .landing .section5 p{
        font-size: 2.3rem;
    }

    .landing .section5 p + p{
        font-size: 1.5rem;
    }

    .landing .section8{
        padding: 2rem 6rem;
        margin-top: 10rem;
    }
}

@media screen and (max-width: 1210px) {
    header{
        font-size: 1rem;
        padding-left: 8rem;
    }

    header button{
        padding: 1rem 1rem;
        font-size: .9rem;
    }

    .landing .section1 article{
        padding: 5rem 4rem 0 6rem;
    }

    .landing .section1 button{
        width: 50%;
    }

    .landing h2{
        font-size: 2.3rem;
    }

    .landing .section2 h2{
        width: 25%;
        padding: 0 0 0 6rem;
    }

    .landing .section2 h3{
        font-size: 1.4rem;
    }

    .landing .section2 a,
    .landing .section3 a,
    .landing .section7 a{
        width: 30%;
        margin: 1.5rem 5% 5rem 0;
    }

    .landing .section2 #ciseaux, .landing .section2 #pince{
        margin-top: 16.8rem;
    }
    
    .landing .section2 #aiguilles{
        margin-top: 18.6rem;
    }

    .landing .section3 article{
        padding-right: 2rem;
    }

    .landing .section3 a{
        width: 50%;
    }

    .landing .section4 figure{
        margin-top: 2rem;
    }

    .landing .section8 button{
        width: 45%;
        font-size: 1.2rem;
    }

    .landing .section8 button img{
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1142px){
    .landing .section2 #ciseaux, .landing .section2 #pince{
        margin-top: 18.1rem;
    }
    
    .landing .section2 #aiguilles{
        margin-top: 20rem;
    }
}

@media screen and (max-width: 1020px) {
    header{
        padding-left: 5rem;
        padding-right: 2rem;
    }

    .landing .section1 article{
        padding-top: 2rem;
    }

    .landing  .section1 h1{
        font-size: 2rem;
    }

    .landing .section1 div{
        flex-wrap: wrap!important;
    }

    .landing .section1 button:last-child{
        margin-top: 1rem;
    }

    .landing .section2{
        flex-wrap: wrap !important;
    }

    .landing .section2 h2, .landing .section2 h2 + div{
        width: 100%;
        padding: 0 0 0 6rem;
    }

    .landing .section2 .card{
        margin-top: 2rem;
    }

    .landing .section2 #ciseaux, .landing .section2 #pince{
        margin-top: 22rem;
    }
    
    .landing .section2 #aiguilles{
        margin-top: 23.7rem;
    }

    .landing .section5{
        margin: 5rem;
        flex-wrap: wrap !important;
    }

    .landing .section5 h2{
        width: 100%;
        margin-bottom: 3rem;
    }

    .landing .section5 p{
        font-size: 2rem;
    }
    
    .landing .section5 p + p{
        color: var(--gris_liens);
        font-size: 1.1rem;
    }

    .landing .section8 article{
        width: 65%;
    }

    .landing .section8 button{
        width: 45%;
    }
}

@media screen and (max-width: 992px){
    .landing .section8{
        padding: 2rem 5rem;
    }

    .landing .section8 button{
        font-size: 1rem;
    }
    .landing .section8 button div{
        text-align: start;
    }
}

@media screen and (max-width: 920px) {
    .landing .section1 button{
        width: 60%;
    }

    .landing .section3 a{
        width: 70%;
    }

    .landing .section4{
        padding: 3rem 8rem;
    }

    .landing .section7 article:first-child{
        width: 45%;
    }    

    .landing .section7 article:last-child{
        width: 50%;
        padding: 3rem 1rem 0 0;
    }

    .landing .section7 p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 880px){
    .landing .section8{
        padding: 2rem 4rem;
        margin-top: 4rem;
    }

    .landing .section8 figure{
        width: 37%;
    }

    .landing .section8 article{
        width: 56%;
    }    

    .landing .section8 div{
        flex-wrap: wrap !important;
    }

    .landing .section8 button{
        width: 55%;
    }

    .landing .section8 button:first-child{
        margin-top: 0;
    }

}

@media screen and (max-width: 868px){
    .landing .section2 #ciseaux, .landing .section2 #pince{
        margin-top: 23.2rem;
    }
    
    .landing .section2 #aiguilles{
        margin-top: 25.1rem;
    }
}

@media screen and (max-width: 790px){
    header{
        padding: 2rem;
    }

    header section{
        width: 80%;
    }

    header button{
        margin-left: 1rem;
        padding: .5rem;
    }

    .landing .section1 button{
        width: 70%;
    }

    .landing .section8 button{
        width: 60%;
    }
}