/* 
                Sommaire

        Input
    1:= input

        Couture
    2:= couture__contenu

*/

/* ----------- 1:= input ------------ */
.input {
    margin-bottom: 1.5rem;
}

/* ----------- 2:= couture__contenu ------------ */
.couture__contenu {
    padding: 5rem 10rem;
}

.couture__contenu img{
    width: 35%;
    height: 20rem;
}

.couture__contenu form{
    width: 50%;
    padding: 0;
}