/* 
                Sommaire

        Input
    1:= input

        Couture
    2:= couture__contenu

*/

/* ----------- 1:= input ------------ */
.input{
    margin: 1.5rem 0 3rem;
}

/* ----------- 2:= couture__contenu ------------ */
.couture__contenu {
    padding: 5rem 10rem;
}

.couture__contenu img{
    width: 35%;
    height: 20rem;
}

.couture__contenu form{
    width: 50%;
    padding: 0;
}

.couture__contenu textarea{
    width: 98%;
    border-color: var(--black);
    border-radius: .3rem;
    padding: 1rem 0 0 1rem;
    margin: 1rem 0 2rem;
    font-size: 1rem;
    outline: none;
}

.couture__contenu textarea:focus{
    border-color: var(--green_background_2);
}

.couture__contenu label{
    color: var(--black) !important;
    font-weight: bolder;
    font-size: 1.2rem;
}

