
@media screen and (max-width: 1682px) {
    .landing .section1 button{
        width: 35% !important;
    }

    .landing .section1 h1{
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 1570px) {
    .landing .section1 button{
        width: 40% !important;
    }

    .landing .section8 button{
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 1470px) {
    header{
        padding-left: 10rem;
    }

    header section{
        width: 75%;
    }

    .landing .section1 button{
        width: 40% !important;
    }

    .landing .section1 button img{
        margin-right: 1rem;
        margin-left: 0;
    }

    .landing .section8 button{
        width: 40%;
    }
}

@media screen and (max-width: 1345px) {
    header{
        padding-left: 10rem;
    }

    header section{
        width: 75%;
    }

    .landing h2{
        font-size: 3rem;
    }

    .landing .section1 article{
        padding: 5rem 8rem 0 7rem;
    }

    .landing .section1 button{
        width: 40% !important;
    }

    .landing .section2 h2{
        width: 25%;
        padding: 0 1rem 0 5rem;
    }

    .landing .section3 span, .landing .section3 p img,
    .landing .section4 span, .landing .section4 p,
    .landing .section6 span,
    .landing .section7 span{
        font-size: 1.3rem;
    }

    .landing .section3 article{
        padding: 0 0 0 5rem;
    }

    .landing .section3 figure div{
        height: 5rem;
    }

    .landing .section3 figure:last-child img{
        width: 90%;
        align-self: flex-end;
    }

    .landing .section4{
        padding: 3rem 14rem;
    }

    .landing .section5, .landing .section6{
        margin: 6rem 6rem 5rem;
    }

    .landing .section5 p{
        font-size: 2.3rem;
    }

    .landing .section5 p + p{
        font-size: 1.5rem;
    }

    .landing .section8{
        padding: 2rem 6rem;
        margin-top: 10rem;
    }
}

@media screen and (max-width: 1210px) {
    header{
        font-size: 1rem;
        padding-left: 8rem;
    }

    header button{
        padding: 1rem 1rem;
        width: 35%;
    }

    .landing .section1 article{
        padding: 5rem 4rem 0 6rem;
    }

    .landing .section1 button{
        width: 50% !important;
    }

    .landing h2{
        font-size: 2.3rem;
    }

    .landing .section2 h2{
        width: 25%;
        padding: 0 0 0 6rem;
    }

    .landing .section2 h3{
        font-size: 1.4rem;
    }

    .landing .section2 a,
    .landing .section3 a,
    .landing .section7 a{
        width: 30%;
        margin: 1.5rem 5% 5rem 0;
    }

    .landing .section3 article{
        padding-right: 2rem;
    }

    .landing .section3 a{
        width: 50%;
    }

    .landing .section4 figure{
        margin-top: 2rem;
    }

    .landing .section8 button{
        width: 45%;
        font-size: 1.2rem;
    }

    .landing .section8 button img{
        margin-right: 1rem;
    }
}


@media screen and (max-width: 1000px) {

}
