/* 
                Sommaire

    1:= Fonts
    2:= Constantes
    3:= Global css
    4:= Header


*/





/* ----------- 1:= Fonts ------------ */



/* ----------- 2:= Constantes -------- */
:root{
    --gris_liens : #5C5F6A;
}



/* ----------- 3:= Global css -------- */

a{
    text-decoration: none;
    color: var(--gris_liens);
}

.column{
    display: flex;
    flex-direction: column;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


/* ----------- 4:= Header ------------ */