/* 
                Sommaire

    1:= Fonts
    2:= Constantes
    3:= Global css
    4:= Header
    5:= Landing Page


*/





/* ----------- 1:= Fonts ------------ */
@font-face {
    font-family: 'montserratlight';
    src: url('./assets/fonts/montserratLight/montserrat-light-webfont.eot');
    src: url('./assets/fonts/montserratLight/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/montserratLight/montserrat-light-webfont.woff2') format('woff2'),
         url('./assets/fonts/montserratLight/montserrat-light-webfont.woff') format('woff'),
         url('./assets/fonts/montserratLight/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('./assets/fonts/montserratBold/montserrat-bold-webfont.eot');
    src: url('./assets/fonts/montserratBold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/montserratBold/montserrat-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/montserratBold/montserrat-bold-webfont.woff') format('woff'),
         url('./assets/fonts/montserratBold/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ----------- 2:= Constantes -------- */
:root{
    --noir : #1E1E1E;
    --blanc : #FFFFFF;
    --gris_liens : #5C5F6A;
    --gris_background : #F6F6F6;
}



/* ----------- 3:= Global css -------- */
*{
    font-family: "montserratlight", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'montserratbold', sans-serif;
}

button{
    padding: .8rem 1.4rem;
    border-radius: 2rem;
    background-color: var(--noir);
    color: var(--blanc);
    border: 1px solid var(--noir);
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: var(--gris_liens);
    cursor: pointer;
}

ul{
    list-style: none;
}



.column{
    display: flex;
    flex-direction: column;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.alignitem_center{
    align-items: center;
}

.text_uppercase{
    text-transform: uppercase;
}

.text_bold{
    font-weight: bolder;
}


.backGris{
    background-color: var(--gris_background);
}


/* ----------- 4:= Header ------------ */
header{
    padding: 2rem 5rem 3rem 15rem;
    font-size: 1.2rem;
}

header section{
    width: 80%;
}

header img{
    width: 15%;
    height: 15px;
}

header li{
    margin-left: 3rem;
}


/* ----------- 5:= Landing Page ------------ */

/* section 1 */
.landing .section1 article{
    width: 60%;
    padding: 5rem 10rem 0 10rem;
}

.landing .section1 img{
    width: 40%;
}

.landing .section1 h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.landing .section1 button{
    background-color: var(--blanc);
    color: var(--noir);
    border: none;
    margin: 2rem 2rem 0 0;
    width: 30%;
}

.landing .section1 button img{
    width: 20%;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.landing .section1 button p:first-child{
    font-size: .9rem;
    width: max-content;
}

/* section 2 */
.landing .section2 h2{
    font-size: 2.6rem;
    width: 30%;
    padding: 0 0 0 8rem;
    margin-top: 5rem;
}

.landing .section2 h2 + div{
    width: 70%;
}

.landing .section2 .card{
    width: 30%;
    margin: 5rem 5% 0 0;
}

.landing .section2 h3{
    font-size: 1.6rem;
}

.landing .section2 a{
    width: 30%;
    margin: 0 5% 5rem 0;
}

.landing .section2 a img{
    height: 8px;
    margin-left: .5rem;
}


/* section 3 */
.landing .section3{
    margin: 8rem 0 ;
    justify-content: space-between;
    align-items: center;
}
.landing .section3 article{
    width: 45%;
}
